*.o
*.in
*.gmo
*.pyc
*.m4
Makefile
src/.deps
referencer
*.spec
*.omf
*.mo
*.make
*.desktop
depcomp
configure
config.*
po/
autom4te.cache
compile
devhelp/de/referencer-plugins.xml
help/de/referencer.xml
install-sh
libbibutils/.deps/
libbibutils/libbibutils.a
missing
stamp-h1
