

div#titlebar
{
	background-color:#DDF;
	border-width: 0px;
	padding:10px;
}


body {
	background-color:white;
	color:black;
	margin:0px;
	padding:0px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	width: 780px;
	font: small Lucida Grande, Trebuchet MS, sans-serif;
}


a.title {
	margin:				0;
	padding:			3px;
	display:			block;
	text-decoration:		none;
	color:				black;
	background-color:		inherit;
	border-width: 0px;
}


div#main {
	/*width: 780px;*/
		background-color:#DDF;
}


div#footer
{
	border-width: 0px;
	padding: 10px;
	padding-top: 100px;
	width:				800px;
	float:left;
}

div#footer p
{
	text-align: center;
	font-size: 50%;
}


div.rightbox {
	float:				right;
	width:				200px;
	/*margin-right:			15px;*/
}


div.rightbox div {
	padding:			8px;
	padding-top:			0;
	padding-right: 0;
	background-color:		#DDF;
	border:				1px solid #54482e;
	margin-top:			10px;
}


div.left {
	margin:				0;
	border-width: 1px;
	border-style: solid;
	float:				left;
	width:				525px;
	padding-left:			15px;
	margin-left:15px;
	margin-top:15px;
	background-color:#DDF;
}

div.left p {
	padding-right: 10px;
}

div.left ul {
	padding-right: 10px;
}


div.left div {
	margin-top:			15px;
}

div#screenshots p {
	margin-bottom:35px;
}


h1, h2, h3, h4, h5, h6 {
	font-family: Trebuchet MS, Lucida Grande, sans-serif;
}


h1.maintitle{
	font-weight: bold;
	margin-bottom:0px;
}

h3.subtitle{
	padding-left: 20px;
	margin-top:5px;
	font-style: italic;

}

h2
{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-top: 1px solid;
	padding-left: 3px;
	background-color: #BBF;
}
