

div#titlebar
{
	background-color:#adc2df;
	border-style: solid;
	border-width: 0px;
	/*border-bottom: 2px solid black;*/

	padding:10px;
}


body {
background-color:white;
color:black;
margin:0px;
padding:0px;
border-bottom: 1px solid black;
border-right: 1px solid black;
width: 800px;
}


div#main {
	width: 800px;
}


div#footer
{
	background-color:DDD;
	border-width: 0px;
	padding: 10px;
	padding-top: 100px;
	width:				800px;
	float:left;
}

div#footer p
{
	text-align: center;
	font-size: 50%;
}


div.rightbox {
	float:				right;
	width:				225px;
	margin-right:			15px;
}


div.rightbox h2 {
	color:				black;
	font-weight:			bold;
}


div.rightbox div {
	padding:			8px;
	padding-top:			0;
	background-color:		#adc2df;
	border:				1px solid #54482e;
	margin-top:			10px;
}


div.left {
	margin:				0;
	border-width: 0px;
	float:				left;
	width:				525px;
	padding-left:			15px;
}


div.left div {
	margin-top:			15px;
}


ul.menubar
{
	background-color:#CCE;
	margin:0px;
	padding:5px;
	padding-left:10px;
	border-color: #005;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 2px;
	border-top-width: 2px;
}

ul.menubar li
{
	display: inline;
	list-style-type: none;
	padding: 0.2em 1em;
	border-right: 1px solid #fff;
	margin-top:-5px;
	margin-left:0px;
	margin-right:0px;
	
}

h1.maintitle{
	font-weight: bold;
	margin-bottom:0px;
}

h3.subtitle{
	padding-left: 20px;
	margin-top:5px;
	font-style: italic;
}

h2
{
	border-width: 0;
	/*border-style: solid;
	border-bottom:1px solid #54482e;*/
}
